@model List<EbeveynKontrol.Entity.Ban>
<div class="container mt-5">
    <h2 class="font-weight-bold text-justify">Yasaklı Kelime Ekle</h2>
    <form method="post">
        <div class="form-group">
            <label>Yasaklı Kelime Adı Giriniz</label>
            <input class="form-control" type="text" name="banName" placeholder="Kelime giriniz.." />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success float-right">Ekle</button>
        </div>
    </form>
</div>