@model List<EbeveynKontrol.Entity.Report>
<div class="container">
    <table class="table table-hover mt-5">
        <thead>
            <tr class="table-primary">

                <th>Giriş Yapılan Site</th>
                <th>Tarih-Saat</th>
                <th style="width: 5%">İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in Model)
            {
                <tr>
                    <td>@report.Ban.Name - @report.SiteTitle</td>
                    <td>@report.DateTime.ToShortDateString()</td>
                    <td>
                        <a href="/Report/Delete/@report.Id" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>