@model EbeveynKontrol.Entity.Mail
<div class="container mt-5">
    @if (ViewBag.Update == "Success")
    {
        <div class="row">
            <div class="col-12 alert alert-warning">Mail Adresi Başarıyla Güncellendi.</div>
        </div>
    }
    <form method="post" class="form-inline">
        <div class="form-group">
            <label>Mail Adresiniz</label>
            <input class="form-control-lg ml-4" type="text" name="mailAdress" value="@Model.Adress" placeholder="Mail adresinizi giriniz..." />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary form-control-lg ml-4">Güncelle</button>
        </div>
    </form>
</div>
