@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ebeveyn Takip Programı Yönetim Panel Girişi </title>
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">

</head>

<body class="bg-light">

    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 pt-5">
                <h3>Ebeveyn Takip Programı Panel Girişi</h3>
                <form method="post" class="mt-5">
                    <div class="form-group">
                        <label>Kullanıcı Adı</label>
                        <input type="text" name="userName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Kullanıcı Şifre</label>
                        <input type="password" name="userPassword" class="form-control" />
                    </div>
                    <div class="form-group float-right">
                        <button type="submit" class="btn btn-primary mt-3">Giriş Yap</button>
                    </div>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/js/popper.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
</body>

</html>
