<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-primary"><strong>EBEVEYN TAKİP PROGRAMI</strong> </h1>
            <h5 class="text-danger mt-5 mb-3"><strong>Sofware Lab Proje Ödevi</strong></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card bg-light">
                <div class="card-header">Projenin Hakkında Bilgi</div>
                <div class="card-body">
                    <p>Bu proje ile ebeveynlerin çocuklarını bilgisayarda kelime bazlı kısıtlamalar yaparak kontrol altında olmalarını sağlamak amaçlanmaktadır.</p>
                    <p>Bu proyi ebeveynler bilgisayarlarına kurarak ve kolayca yasaklamak istedikleri kelime bazlı filtreleri program içerisinde tanımlayarak çocukların bilgisayar başındayken yasaklı kelimeler ile ilgili bir işlem yaptıklarında ebeveynlerine e-mail ve raporlama ile bildirmektedir.</p>
                </div>
                <div class="card-footer text-right"><strong>21600105 - Gizem ÜNAL</strong></div>
            </div>
        </div>
    </div>
</div>